# Tutorial for Begginers on Creating For Loops

1. What is a for loop and what is it used for
2. How to create one
3. Do it yourself
-------------------------------------------------------------


1.   A loop is a good way to go through lists and perform actions on each item.
2.   A basic for loop only requires two lines, the first one is "for x in list" and the second line is whatever code you want performed with the variable.

In [4]:
shoe_brands = ("Reebok", "Nike", "Adidas", "Puma", "Hoka", "Timberland", "DC", "Converse")

for brand in shoe_brands:
  print("I wear " + brand + " shoes")

I wear Reebok shoes
I wear Nike shoes
I wear Adidas shoes
I wear Puma shoes
I wear Hoka shoes
I wear Timberland shoes
I wear DC shoes
I wear Converse shoes

1.You can also press enter after the first line of code and write "else:" to add and else statment which can be seen below

In [1]:
years = (2000,1999,2005,2006,2001,2008,2002,1997,1989,1993)

for year in years:
  if year > 2003:
     print("They cannot drink alohol")
  else:
     print("They can drink alcohol")

They can drink alcohol
They can drink alcohol
They cannot drink alohol
They cannot drink alohol
They can drink alcohol
They cannot drink alohol
They can drink alcohol
They can drink alcohol
They can drink alcohol
They can drink alcohol

1. If you want to number the items in a list you can enumerate them

In [13]:
for number, brand in enumerate(shoe_brands):
  print(number, brand)

0 Reebok
1 Nike
2 Adidas
3 Puma
4 Hoka
5 Timberland
6 DC
7 Converse

1. Next lets see you give it a shot.
2. Remember indentation in for loops matters and don't forget the colon.
3. Using the "years" list create a for loop that can seperate the years before 2000 and after 2000.

In [ ]:
## your code